<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>878166815125-k424121u4gsam0940f7bbjgun0i5hg0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878166815125-k424121u4gsam0940f7bbjgun0i5hg0s</string>
	<key>API_KEY</key>
	<string>AIzaSyCBr_DLrSJKEscQLkSt2KRgksL14cU09Io</string>
	<key>GCM_SENDER_ID</key>
	<string>878166815125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abdo23.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-170ff</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-170ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:878166815125:ios:65b0a2f343d3c003</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-170ff.firebaseio.com</string>
</dict>
</plist>